* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  nav,
  footer {
    color: white;
    padding: 1% 0;
    background-color: black;
  }
  ul {
    list-style-type: none;
  }
  li {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    padding: 5px;
  }
  li:hover {
    cursor: pointer;
  }
  .left {
      float: left;
  }
  .right {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  header {
    padding: 12% 0;
  }
  section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #4A5869;
  }
  section:nth-child(even) {
    background-color: #8AA4C2;
  }
  h2, h3 {
    color: white;
  }
  p, .bio {
    color: white;
    margin-left: auto;
    margin-right: auto;
  }
  .tldr {
    color: black;
  }
  a, a:hover, a:active, a:visited {
     color: white;
     text-decoration: none; 
    }
  a:hover {
    text-decoration: underline;
    font-weight: bold;
  }
  .icon {
    width: 125px;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media screen and (min-width: 320px) {
    .menu {
      display: none;
    }
    nav, footer {
      width: 100%;
    }
    h1 {
      padding-top: 40px;
    }
    #hamburger {
      float: right;
      padding-right: 20px;
      border: 1px orange solid;
    }
    .icon {
      padding: 0;
      padding-left: 10px;
      padding-right: 10px;
      width: 80px;
    }
    .image {
      width: 200px;
    }
    .bio {
      padding: 10px;
    }
  }
  